image: atlassian/default-image:2

pipelines:
  branches:
    master:
    - step:
       name: Deploy
       script:
        - echo "SSH to AWS"
        - scp -o StrictHostKeyChecking=no -r * ubuntu@50.19.37.167:/home/ubuntu/reginald/
    - step:
        name: Build React
        trigger: manual
        script:
          - echo "Building React"
          - ssh ubuntu@50.19.37.167'cd /home/ubuntu/reginald/web-interface/; yarn build'
    - step:
        name: Restart Server
        trigger: manual
        script:
          - echo "Restarting Nginx"
          - ssh ubuntu@50.19.37.167 'sudo systemctl restart nginx'