image: atlassian/default-image:2

pipelines:
  branches:
    master:
    - step:
       name: Deploy
       script:
        - echo "SSH to AWS"
        - eval 'ssh-agent -s'
        - ssh-add ~/.ssh/id_rsa
        - ssh-add -l
        - scp -r * ubuntu@35.174.231.192:/home/ubuntu/reginald/
    - step:
        name: Build React
        trigger: manual
        script:
          - echo "Building React"
          - ssh ubuntu@35.174.231.192 'cd /home/ubuntu/reginald/web-interface/; yarn build'
    - step:
        name: Restart Server
        trigger: manual
        script:
          - echo "Restarting Nginx"
          - ssh ubuntu@35.174.231.192 'sudo systemctl restart nginx'