image: atlassian/default-image:2

pipelines:
  default:
    - step:
       name: Deploy
       script:
        - echo "SSH to AWS"
        - scp -r * ubuntu@54.210.104.203:/home/ubuntu/reginald/
    - step:
        name: Build React
        trigger: manual
        script:
          - echo "Building React"
          - ssh ubuntu@54.210.104.203 'cd /home/ubuntu/reginald/web-interface && yarn build'
    - step:
        name: Restart Server
        trigger: manual
        script:
          - echo "Restarting Nginx"
          - ssh ubuntu@54.210.104.203 'sudo systemctl restart nginx'