image: atlassian/default-image:2

pipelines:
  default:
    - step:
       name: Deploy
       script:
        - echo "SSH to AWS"
        - ssh ubuntu@54.210.104.203 'cd /home/ubuntu/ && ls -la && echo "im on the server"'
    - step:
        name: Build React
        trigger: manual
        script:
          - echo "Building React"
          - ssh ubuntu@54.210.104.203 'cd /home/ubuntu/reginald && yarn build'
    - step:
        name: Restart Server
        trigger: manual
        script:
          - echo "Restarting Nginx"
          - ssh ubuntu@54.210.104.203 'sudo systemctl restart nginx'