.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.drawer {
  width: 250px;
}
.menuItem {

}

.recognition {
  margin-top: 10px;
  margin-left: 100px;
  display: flex;
  flex-direction: row;

}

enable-inner {

}

.container {
  display: flex;
  flex-direction: column;
}

.facerec-flex {
  display: flex;
  flex-direction: row;
}

.inForm {
  margin-left: 100px;
}

.enable-inner {
  display: flex;
  flex-direction: row;
  margin-left: 85px;
}

.databaseTable {
  max-width: 1300px;
  margin-top: 50px;
  margin-left: 100px;
}

.recognition-form {
  display: flex;
  flex-direction: row;
}

.register-h1 {
  margin-left: 100px;
  margin-top: 50px;
}

.recognition-button {
  margin-left: 20px;
  margin-top: 15px;
}

.rms-title {
  margin-left: 100px;
  padding-left: 75px;
}
